@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	



#container {
	margin: 0 auto;
	max-width: 890px;
}

p {
	text-align: center;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
tznav { 
	margin:0;
	padding: 0;
	background-color: #fff;
}

#navLogo {
	display: block;
	padding: 0 0px;
	float: left;
	font-size:20px;
	line-height: 0px;
}

#navPhone {
	display: block;
	padding: 0 0px;
	float: right;
	font-size:0px;
	line-height: 0px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

tznav:after {
	content:"";
	display:table;
	clear:both;
}
#menu-nav{
  margin-top: 4em;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
tznav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
tznav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #fff;
	}

/* Styling the links */
tznav a {
	display:block;
	padding:14px 14px;	
	color: rgb(0, 41, 66);
  font-size:2em;
  font-weight: lighter;
  margin-top: 0.2em;

	text-decoration:none;
}

@media all and (min-width : 1000px) {
  tznav a{
font-size: 1.8em;
  }
  #navLogo{
    margin-top: -1.5em;
    width: 32%;
  }
 }


tznav ul li ul li:hover { background: #000000;
 }

/* Background color change on Hover */
tznav a:hover { 
  background-color: #fff; 
  text-decoration: underline;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
tznav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 14px; 
}
	
/* Display Dropdowns on Hover */
tznav ul li:hover > ul {
	display:inherit;
}
	
/* First Tier Dropdown */
tznav ul ul li {
  width:600px;

	float:none;
	display:list-item;
	position: relative;
}
@media all and (min-width : 1200px) {
  tznav ul ul li{
    margin-top: -1em;
    background-color: #fff;
  }
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
tznav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' >'; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 1200px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	tznav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.tzmenu {
		display: none;
	}

	/* Styling the toggle label */
	.toggle {
		display: block;
		background-color: #fff;
		padding:14px 20px;	
    color: rgb(1, 58, 94);
    font-size:17px;
    margin-top: 2em;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
    background-color: #fff;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	tznav ul li {
		display: block;
		width: 100%;
		}

	tznav ul ul .toggle,
	tznav ul ul a {
		padding: 0 40px;
	}

	tznav ul ul ul a {
		padding: 0 80px;
	}

	tznav a:hover,
 	tznav ul ul ul a {

	}
  
	tznav ul li ul li .toggle,
	tznav ul ul a,
  tznav ul ul ul a{
		padding:14px 20px;	
    color: rgb(1, 58, 94);
    font-size:1.6em; 
    font-weight: lighter;
    margin-bottom: 1em;
  }
  @media all and (min-width : 1200px) {
    tznav ul li ul li .toggle,
    tznav ul ul a,
    tznav ul ul ul a{
      margin-bottom: 0.5em;
    }
  }
  
  
	tznav ul li ul li .toggle,
	tznav ul ul a {
		background-color:#FFF ; 
	}

	/* Hide Dropdowns by Default */
	tznav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "tznav a" */
	}
		
	/* Hide menus on hover */
	tznav ul ul li:hover > ul,
	tznav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	tznav ul ul li {
		display: block;
		width: 100%;
	}

	tznav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 
f64
	}

}

@media all and (max-width : 64px) {

	tznav ul li {
		display:block;
		width: 94%;
	}

}

body{
  margin: 0;
  padding: 0;
  font-family: didot, serif;
  word-wrap:break-word !important;
  scroll-behavior: smooth !important;
}
.mia img{
  width: 100%;
  height: auto;
  margin-top: -1em;

}


h3 {
  overflow: hidden;
  margin-top: 5em;
  text-align: center;
}

h3:before,
h3:after {
  content: "";
  display: inline-block;
  height: 0.2px;
  position: relative;
  background-color: rgb(144, 167, 181);
  vertical-align: middle;
  width: 29%;
}

h3:before {
  right:1.7em;
  margin-left: -50%;
}

h3:after {
  left: 1.7em;
  margin-right: -50%;
}
h3{
  font-size: 2em;
  color: rgb(1, 58, 94);
}
p{
  text-align: center;
  color: rgb(1, 58, 94);
  margin-bottom: 3em;
  font-weight: lighter;
  font-size: 1.15em;
  margin-top: 2em;
  font-style: italic;
}


#hero .container1 {
 
}

#hero .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#hero .gallery-item {
  width: 9px;
  text-decoration: none;
}
#hero{
  height: 60em;
  width: 65%;
  margin-left: 3em;
}

#hero .gallery-item img {
  position: absolute;
  width:30%;
  height: 90%;
}

#hero .text-wrapper {
  position: relative;
  width: 36em;
  height: 48em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  opacity: 0;
}
#hero button{
  padding: 10px 45px;
  font-size: 1.05em;
  margin-top: 2em;
  letter-spacing: 2px;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(0,0,0,0.7);
}

#hero .text-wrapper {
  transition: all 0.8s ease;
  opacity: 3;
}

#hero .name {
  font-size: 2.7em;
  letter-spacing: 5px;
}

@media only screen and (max-width: 1800px) {
  #hero{
    height: 170em;
  }
  #hero .gallery-item img {
    position: absolute;
    width:90%;
    height: 70%;

  }
  #hero .gallery {
    display: block;

  }
  #hero .name{
    margin-left: 1em;
    font-size: 5em;
    margin-right: -2.8em;
  }
  #hero button{
    margin-left: 5em;
    margin-right: -8em;
    font-size: 1.5em;
    padding: 10px 90px;
  }
  #hero  .title {
    margin-bottom:-9em;
  }
}
.press h5 {
  overflow: hidden;
  margin-top: 3em;
  font-size:1.5em ;
  margin-bottom: 3em;
  color: rgb(1, 58, 94);
  text-align: center;
}

.press h5:before,
.press h5:after {
  content: "";
  display: inline-block;
  height: 0.2px;
  position: relative;
  background-color: rgb(114, 126, 133);
  vertical-align: middle;
  width: 36.8%;
}

.press h5:before {
  right:3.1em;
  margin-left: -50%;
}

.press h5:after {
  left: 3.1em;
  margin-right: -50%;
}
#presses{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#presses img{
  width: 50%;
  margin-left: 25%;
}
@media screen and (max-width: 1300px) {
  #presses {
    display: block;
  }
  #presses img{
    margin-left: 35%;
    margin-bottom: 4em;
    width: 30%;
  }
.press1 p{
  margin-top: 7em;
  font-size: 1.3em;
  margin-bottom: 4em;
}
.press2 p{
  margin-bottom: 4em;
  font-size: 1.3em;
}
.press3 p{
  margin-bottom: 4em;
  font-size: 1.3em;
}
}
#presses p{
  font-size: 1.5em;
}
@media screen and (max-width: 1300px) {
  .press h5:before,
.press h5:after {
  content: "";
  display: inline-block;
  height: 0.2px;
  position: relative;
  background-color: rgb(92, 107, 116);
  vertical-align: middle;
  width: 11%;
}
}
@media screen and (max-width: 900px) {
  .overlay h1{
font-size:1em ;
  }}
.one-element {
  width: 90%;
  position: relative;
  font-family: Arial;
  color:#fff
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  top: 35%;
}
.headline {
  margin-bottom: 10px;
}
.description {
  display: block;
  margin-bottom: 20px;
}

  .button {
    border: 1px solid #fff;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  .room h5 {
    overflow: hidden;
    color: rgb(1, 58, 94);
    font-size:1.8em ;
    margin-top: 4em;
    text-align: center;
  }
  
  .room h5:before,
  .room h5:after {
    content: "";
    display: inline-block;
    height: 0.2px;
    position: relative;
    background-color: rgb(144, 167, 181);
    vertical-align: middle;
    width: 20.8%;
  }
  
  .room h5:before {
    right:3.1em;
    margin-left: -50%;
  }
  
  .room h5:after {
    left: 3.1em;
    margin-right: -50%;
  }
  .room p{  color: rgb(1, 58, 94);
    font-size: 1.5em;
  } 
  @media screen and (max-width: 900px) {
    .room h5:after {
      content: "";
      display: inline-block;
      height: 0.2px;
      position: relative;
      background-color: rgb(144, 167, 181);
      vertical-align: middle;
      width: 3.5%;
    }
    .room h5 {
      overflow: hidden;
    
      font-size:16px ;
      text-align: center;
    }
  } */

  *, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  }
  
  
  .main-title{
    color: #2d2d2d;
    text-align: center;
    text-transform: capitalize;
    padding: 0.7em 0;
  }
  
  .container{
    padding: 1em 0;
    float: left;
    width: 50%;
  }
  @media screen and (max-width: 1700px){
    .container{
      display: block;
      width: 100%;
    }
  }
  
  @media screen and (min-width: 900px){
    .container{
      width: 33.33333%;
    }
  }
  @media screen and (max-width: 1700px) {
    .container{
      width: 100%;
    }
  }
  
  .container .title{
    color: rgb(144, 167, 181);
    text-align: center;
    margin-bottom: 10px;
    font-weight: normal;
    letter-spacing: 2px;
  }
  
  .content {
    position: relative;
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 200%;
    height: 40em;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  @media screen and (max-width: 1100px) {
    .content .content-details{
      top: 50%;
      left: 50%;
      opacity: 1;
    }
    .content .content-overlay{
      opacity: 0.9;
    }
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p button{
    color: #fff;
    border: 1px #fff solid;
    letter-spacing: 3px;
    padding: 8px 50px;
    background-color: transparent;
    font-size: 1.2em;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }
  
  .fadeIn-top{
    top: 20%;
  }
  
  .fadeIn-left{
    left: 20%;
  }
  
  .fadeIn-right{
    left: 80%;
  }
#shop img{
  width: 10%;
 margin-left: 45%;
 margin-bottom: 2em;
 
}
#shop{
  display: flex;
  font-family: avenir, serif;
  justify-content: space-around;
  align-items: center;
  margin-top: 7em;
  margin-bottom: 6em;
  color: rgb(45, 43, 44);
}
#shop h2{
  text-align: center;
  font-size: 1.6em;
  letter-spacing: 3px;
  font-weight: lighter;
}
#shop p{
  text-align: center;
  font-style: normal;
  color: #000;
  font-size: 1.3em;
  line-height:29px ;
  margin-bottom: 1em;
  letter-spacing: 1.3px;

}
#shop h6{
  text-align: center;
  font-size: 0.9em;
  font-weight: lighter;
  margin-top: -0.5em;
  letter-spacing: 1px;
  margin-bottom: 7em;
  color: #000;
}
#shop a{
  text-decoration-color: #000;
}
@media screen and (max-width: 1200px) {
  #shop{
    display: block;
  }

  #shop a{
    margin-left: 43%;
    margin-bottom: 4em;
  }
}
#contact{
  background-color:rgb(236, 237, 240) ;
  height: 40em;
  margin-top: 22em;
  margin-bottom: -1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#contact li{
  list-style: none;
  color:  rgb(0, 41, 66);
  font-size: 1.3em;
  font-family:opensans, sans-serif ;
  font-weight: lighter;
  line-height: 50px;
  letter-spacing: 1.5px;
}
#contact h4{
  text-align: left;
  color: rgb(0, 41, 66) ;
  margin-left: 10%;
  margin-top: -7em;
  font-size: 2em;
  font-weight: lighter;
  color:  rgb(0, 41, 66);

}
#contact hr{
  margin-top: -2em;
  margin-left: 2.5em;
  color:  rgb(0, 41, 66);
}
#contact h4{
  padding-top: 3em;
  font-weight: bolder;
}
input[type=text] {
  width: 100%;
  padding: 30px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  font-size: 1.15em;
  letter-spacing: 2px;
  margin-left: 2em;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: transparent;
  color:  rgb(0, 41, 66);
  margin-left: 2em;
  font-size: 1.1em;
  padding: 23px 65px;
  border: 1px solid rgb(0, 41, 66);
  border-radius: 4px;
  cursor: pointer;
}
#contact .c3{
  margin-left: 1em;
}

@media screen and (max-width: 1450px) {
  #contact{
    display: block;
    height: 85em;
    padding-bottom: 20em;
    margin-bottom: -1em;
  }
  #contact ul{
    margin-bottom: 21em;
    line-height: 50px;
  }
  #contact .c4 hr{
    width: 95%;
    margin-left: -3em;
  }
  #contact .c3{
    width: 90%;
  }
  input[type=text] {
    width: 100%;
    padding: 30px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: transparent;
    color:  rgb(0, 41, 66);
    font-size: 1.5em;
    padding: 23px 65px;
    border: 1px solid rgb(0, 41, 66);
    border-radius: 4px;
    cursor: pointer;
  }
  #contact h4{
    padding-top: 2em;
    font-weight: bolder;
  }
 
 #contact li{
   font-size: 2em;
 }
  #contact form{
    width: 90%;
  }
}
.foot{
  text-align: center;
  color: rgb(82, 74, 74);
  font-size: 1.1em;
  height: 4em;
  padding-top: 1em;
  margin-top: -0.3em;
  background-color:rgb(236, 237, 240) ;


}
