/* block-specific hacks */

.page-dynamic .storefront-breadcrumb {
	
	display: none !important;
}

.page-dynamic article.page {
	
	/* background-color: red !important; */
}

.page-dynamic .content-area {
	
	margin-bottom: 0 !important; /* for pages only */
	background-color: transparent !important;
}

.page-dynamic article.page {
	
	margin-bottom: 0 !important;
}

.page-dynamic div.edit-link {
	
	display: none !important;
}

.page-dynamic .page main.site-main {
	
	margin-bottom: 0;
}

.page-dynamic .page header.entry-header { /* contains page title */
	
	display: none !important;
}

.page-dynamic .dc-section-wrapper.alignfull {
	
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.page-dynamic body.page {
	
	padding-top: 105px !important;
}

@media (max-width: 1023px) {
	
	.page-dynamic body.page {
		
		padding-top: 85px !important;
	}	
}

.page-dynamic body.page.use-dynamic-global-header {
	
	padding-top: 0 !important;
}

@media (max-width: 1023px) {
	
	.page-dynamic body.page.use-dynamic-global-header {
		
		padding-top: 0 !important;
	}	
}

@media (max-width: 66.4989378333em) {
	
	.page-dynamic .col-full {
		
		margin-left: 0 !important;
		margin-right: 0 !important;	
	}
}

.page-dynamic [data-dc-element="copy-callout"] {
	
	background-color: transparent !important;
}

.page-dynamic .hero.alignfull {
	
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* fix padding issue for items on dynamic pages */

.page-template-page-dynamic .alignwide,
.page-template-page-dynamic .aligncenter {
	
	padding-left: 20px !important;
	padding-right: 20px !important;
	
}

.page-template-page-dynamic .alignfull {
	
	padding-left: 0 !important;
	padding-right: 0 !important;
	
}

@media (min-width: 768px) {
	
	.page-template-page-dynamic .col-full {
		
		max-width: 1200px !important;
		padding: 0 0 0 0 !important;
	}
}

.page-template-page-dynamic * img {
	
	border-radius: 0 !important;
}